## General

# temp result
*.data_point
*.feature
*.data
*.zip

# leveldb
examples/Pointing/pointing-test-leveldb/*
examples/Pointing/pointing-train-leveldb/*
examples/Embrace/embrace-train-leveldb/*
examples/Embrace/embrace-test-leveldb/*
examples/SED_FULL/sed_full-test-leveldb/*
examples/SED_FULL/sed_full-test-leveldb-crop/*
examples/SED_FULL/sed_full-train-leveldb/*
examples/SED_FULL/sed_full-train-leveldb-crop/*
examples/SED_HS/sed_hs-test-leveldb/*
examples/SED_HS/sed_hs-test-leveldb_gray/*
examples/SED_HS/sed_hs-train-leveldb/*
examples/SED_HS/sed_hs-train-leveldb_gray/*
examples/SED_MHS/sed_hs-test-leveldb/*
examples/SED_MHS/sed_hs-train-leveldb/*

# Compiled Object files
*.slo
*.lo
*.o
*.cuo
*.pyc

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled protocol buffers
*.pb.h
*.pb.cc
*_pb2.py

# Compiled python
*.pyc

# Compiled MATLAB
*.mex
*.mexa64
*.mexmaci64

# build, distribute, and bins
build/*
distribute/*
*.testbin
*.bin

# Editor temporaries
*.swp
*~

# IPython notebook checkpoints
.ipynb_checkpoints

## Caffe

# User's build configuration
Makefile.config

# Models, Data, and Examples are either
# 1. reference, and not casually committed
# 2. custom, and live on their own unless they're deliberated contributed
models/*
data/*
#examples/*

# Don't version the generated documentation
docs/_site
_site
